
<form id="{{id}}" class="hidden flex flex-col gap-y-10 p-[20px] items-center bg-zinc-700 rounded-lg z-10 absolute inset-60 w-[350px] h-[300px] overflow-y-scroll scrollbar shadow-lg">
    <div class="ml-auto text-white">
        {{{close}}}
    </div>
    <h3>{{text}}</h3>
        {{{input}}}
    <div class="flex text-sm">
        {{{button}}}
    </div>
</form>
