 <main class="flex justify-center items-center h-screen">
        {{{ Loader }}}
    <div class="w-[340px] h-[384px] bg-graphite rounded-md p-[20px]">
        {{{title}}}
    <form class="flex flex-col gap-y-10 justify-center items-center">
        <div>{{{login}}}</div>
        <div>{{{password}}}</div>
        <div class="flex flex-col items-center justify-center">
            {{{error}}}
            {{{button}}}
            {{{link}}}
        </div>
    </form>
</main>
