<main class="flex justify-center items-center h-screen">
    <div class="w-[340px] h-[615px] bg-graphite rounded-md p-[20px] overflow-y-scroll scrollbar">
        <form class="flex flex-col gap-y-2.5 justify-center items-center">
            {{{title}}}
            <div class="py-0.5">
                {{{login}}}
            </div>
            <div class="py-0.5">
                {{{password}}}
            </div>
            <div class="py-0.5">
                {{{password_check}}}
            </div>
            <div class="py-0.5">
                {{{firstname}}}
            </div>
            <div class="py-0.5">
                {{{secondname}}}
            </div>
            <div class="py-0.5">    
                {{{displayname}}}
            </div>
            <div class="py-0.5">
                {{{email}}}
            </div>
            <div class="py-0.5">
                {{{phone}}}
            </div>
            <div>
                <div> 
                    {{{error}}}
                </div>
                    {{{button}}}
                <div class="text-center py-2 text-blue">
                    {{{link}}}
                </div>
            </div>
        </form>
    </div>
</main>
