<main class="h-screen">
  {{{Loader}}}
    
  <div class="flex px-2">
      <div class="mr-auto my-auto flex-none border-none">
          {{{back}}}
      </div>
      <section class="grow flex flex-col gap-y-2 justify-center items-center h-screen">
          {{{avatar}}}  
              <div class="">
                {{{firstname}}}
                {{{secondname}}}
                {{{displayname}}}
                {{{login}}}
                {{{email}}}
                {{{phone}}}
              </div>
  
              <div class="flex flex-col py-10">
                  {{{error}}}
                  {{{button}}}
              </div>
      </section>
  </div>
</main>
