<main class="h-full bg-transparent customw sticky top-0">
  {{{profileLink}}}
  {{{search}}}
  <div class="scrollbar overflow-y-auto">
{{#if isLoaded }}
    <div class="text-center">
      {{{openModal}}}
    </div>
    {{#each chats}}
        {{{this}}}
    {{/each}}
    
    {{{newchat}}}
{{else}}
  Loading...
{{/if}}
</div>
</main>
