<main class="h-full bg-transparent customw sticky top-0">
  <div class="flex pt-2 pl-2">
      {{{profileLink}}}
      {{{search}}}
  </div>
  <div class="">
{{#if isLoaded }}
    <div class="text-center">
      {{{openModal}}}
    </div>
    <div class="overflow-y-scroll h-screen scrollbar">
      {{#each chats}}
          {{{this}}}
      {{/each}}
    </div>
    
    {{{newchat}}}
{{else}}
  Loading...
{{/if}}
</div>
</main>
