<main class="h-full bg-transparent customw">
  {{{profileLink}}}
  {{{search}}}
{{#if isLoaded }}
    {{#each chats}}
        {{{this}}}
    {{/each}}
    <div class="text-center">
    {{{openModal}}}
    </div>
    {{{newchat}}}
{{else}}
  Loading...
{{/if}}
</main>
