<main class="h-screen">
    {{{Loader}}}
    <div class="flex px-2">
      <div class="mr-auto my-auto flex-none border-none">
        {{{back}}}
      </div>
      
      <section class="grow flex flex-col gap-y-2 justify-center items-center h-screen">
        {{{avatar}}}
            <div>
            {{#each fields}}
                {{{this}}}
            {{/each}}
            </div>
            <div class="text-blue mr-[388px] py-4 flex flex-col items-start text-start">
                {{{datachange}}} 
                {{{datapass}}} 
                {{{logout}}} 
            </div>      
      </section>
    </div>
</main>
